{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "import-access",
    "import-encapsulation"
  ],
  "rules": {
    "import-access/jsdoc": "error",
    "import-encapsulation/encapsulation": ["error", { "rootDir": "src"}]
  },
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  }
}
